<% if @verfication.errors.any? %>
 <div id= "error_explanation" >
    <div class="alert alert-danger">
        The form contains <%= pluralize(@verfication.errors.count,"error") %>.
    </div>
    <ul>
        <% @verfication.errors.full_messages.each do |msg| %>
            <li> <%= msg %> </li>
        <% end %>
    </ul>
    </div>
<% end %>
