<div class="col-sm-12">
<p>
  <p>My comments</p>
  <% @my_comments.each do |comment| %>
      <div class="well" style="margin-bottom:5px;" >
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading long-title"><%= link_to comment.content,  class:"custom-highlight" %></h4>
          </div>
        </div>
      </div>
  <% end %> 
 </p> 
</div>
<div class="col-sm-12">
<p>
  <p>My comments to someone comments</p>
  <% @my_comments_to_comments.each do |comment| %>
      <div class="well" style="margin-bottom:5px;" >
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading long-title"><%= link_to comment.content,  class:"custom-highlight" %></h4>
          </div>
        </div>
      </div>
  <% end %> 
 </p> 
</div>