<% provide(:title , @post.title) %>
<p id="notice"><%= notice %></p>

<div class="media-body">
    <h4 class="media-heading"> <%= @post.content%> </h4>
    <p class="text-right"> <%= @user.name%> </p>
    <p><%= @post.content%></p>
</div>