@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
$gray-medium-light:#eaeaea;

@mixin box_sizing {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box; 
}
body {
  padding-top: 60px;
  background-color: $gray-medium-light;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 4em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
  }

  h4{
    border-left: 5px solid red;
    background-color: lightgrey;
    padding: 5px 30px 5px ;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }

  /* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
  }
  
  #logo:hover {
    color: #fff;
    text-decoration: none;
  }

  /* footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: $gray-light;
    font-weight: bold;
    text-align: center;
    height: 4%;
  }
.footer-copyright {
  margin-top: 12px;
}
  /* side bar */
.badge{
  border:1px solid lightgray;
  padding: 5px 20px 5px;
  background-color: white;
  color: gray;
  margin: 10px
}
.badge:hover{
  background-color: darkgray;
}
/* Post */

.postbar{
  background-color: white;
  
}
.postbar li{
  color: black;
  border: 1px solid $gray-medium-light;
}
.postbar li:hover{
  background-color: white;
  color: red;
}
.postbar li:active{
  color: red;
}
  /* forms */
  input,textarea,select,.uneditable-input{
    border:1pxsolid#bbb;
    width:100%;
    margin-bottom:15px;
    @include box_sizing;
  }
  input{
    height:auto!important;
  }
  

#error_explanation{
    color:red !important;
    ul{
      color:red !important;
      margin: 0 0 30px 0 !important;
    }
  }

  ul.list-group:after {
    clear: both;
    display: block;
    content: "";
  }
  
  .list-group-item {
      float: left;
  }
  
.field_with_errors{
  @extend .has-error;
  .form-control{
    color: $state-danger-text!important;
  }
}

.custom_link{
  float: right;
  margin-right: 30px;
}

.container{
  background-color: white;
  width: 750px;
}

.list-group-item.active a
{
  color:whitesmoke
}

.list-group-button
{
  list-style-type:none;
  margin-left: 15px;
  float:right;
}

.list-group-input
{
  list-style-type:none;
  float:right;
}

