<br>
<%# recent users %>
<div class="container" style="padding:0; width:300px;">
<div class="card">
    <div class="card-body">
    <h4 class="card-title"> Recent Members </h4>
    <p class="card-text">Some User here</p>
    </div>
</div>
</div>
<br><br>
<%# recent users %>
<div class="container" style="padding:0; width:300px;">
<div class="card">
    <div class="card-body">
    <h4 class="card-title"> Topic </h4>
    <p class="card-text">Some topics</p>
    </div>
</div>
</div>
<br><br>
<%# recent users %>
<div class="container" style="padding:0; width:300px;">
<div class="card">
    <div class="card-body">
    <h4 class="card-title"> Post </h4>
    <p class="card-text">Some most view post</p>
    </div>
</div>
</div>
<br><br>
<%# recent users %>
<div class="container" style="padding:0; width:300px;">
<div class="card">
    <div class="card-body">
    <h4 class="card-title"> Links </h4>
    <p class="card-text">Some User here</p>
    </div>
</div>
</div>